<div class="centered-hero {% block class %} {% endblock %}">
    <div class="pad-all">
        <div class="text-center max-hero">
         {% if entry.pageName %}
            <div class="header-intro">
                {{entry.pageName}}
            </div>
        {% endif %}
        {% if entry.headingH1 %}
            {{entry.headingH1}}
        {% endif %}
        <div class="intro-text">
        {% if entry.introParagraph2 %}
            {{entry.introParagraph2}}
        {% endif %}
        </div>

        {% if entry.paragraph2 %}
            {{entry.paragraph2}}
        {% endif %}


        {% if entry.firstButton is defined and entry.firstButton %}
                    {% for block in entry.firstButton %}
                        {% if block.type == 'groupFields' %}
                            {% set buttonText = block.buttonText ?? 'Enquire now' %}
                            {% set buttonPageLink = block.buttonPageLink[0].url ?? '/contact-us' %}
                            {% embed '_partials/button' %}
                                {% block class %}{{ buttonClass }} centered {% endblock %}
                                {% block title %}{{ buttonText }}{% endblock %}
                                {% block url %}{{ buttonPageLink }}{% endblock %}
                            {% endembed %}
                        {% endif %}
                    {% endfor %}
            {% endif %}
        </div>
    </div>
</div>