<div class="flex-wrap border-btm border-color no-border-mobile hero-solutions">
    <div class="pad-all border-right no-border-mobile border-color half"> 
        <div class="">
            {% if entry.pageName %}
                <div class="header-intro">
                    {{entry.pageName}}
                </div>
            {% endif %}
            {% if entry.pageTitle %}
                {{entry.pageTitle}}
            {% endif %}
            {% if entry.pageIntro %}
                <div class="intro-text">
                    {{entry.pageIntro}}
                </div>
            {% endif %}
        </div>
        <div class="flex-wrap inner pad-top-btm no-btm">
            <div class="pad-sides sides-sm no-left no-btm-marg">
                {% if entry.pageIntroParagraph %}
                    {{entry.pageIntroParagraph }}
                {% endif %}
            </div>
            <div>
                {% for block in entry.button %}
                    {% if block.type == 'groupFields' %}
                        {% set buttonText = block.buttonText ?? 'Enquire now' %}
                        {% set buttonPageLink = block.buttonPageLink[0].url ?? '/contact-us' %}
                        {% embed '_partials/button' %}
                            {% block class %}{{buttonClass}}{% endblock %}
                            {% block title %}{{buttonText}} {% endblock %}
                            {% block url %}{{buttonPageLink}} {% endblock %}
                        {% endembed %} 
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                {% for block in entry.buttonExternalLink %}
                    {% if block.type == 'groupFields' %}
                        {% set buttonText = block.buttonText ?? 'Enquire now' %}
                        {% set buttonLink = block.buttonLink  %}
                        {% embed '_partials/button' %}
                            {% block class %}{{buttonClass}}{% endblock %}
                            {% block title %}{{buttonText}} {% endblock %}
                            {% block url %}{{buttonLink}} {% endblock %}
                        {% endembed %} 
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>




    {% set image = entry.image.one() %}
    {% if image %}
        <div class="half mask-wrapper" style="background-image:url({{ image.getUrl() }})">
            {% include '_partials/masks/solutions-top.twig' %}
            {% include '_partials/masks/solutions-bottom.twig' %}
        </div>
    {% else %}
        <div class="half mask-wrapper">
            {% include '_partials/masks/mask-left.twig' %}
            {% include '_partials/masks/mask-left-btm.twig' %}
        </div>
    {% endif %}
    </div>



