<div class="tabs-urban-solutions">
    <div>
        {% set slider = craft.entries().section('urbanSolutionsSlider').all() %}
        {% for slide in slider %}
            {% if slide.spaceType is not empty %}
                <div class="{{slide.spaceType[0]}}">
                   <div class="pad-all flex-wrap ">
                        {# <div class=""> #}
                            <div class="half ">
                                {% if slide.spaceType %}
                                    <p>
                                        {{slide.spaceType[0]}}
                                    </p>

                                    {% if slide.dollarSign is defined and slide.dollarSign != '' %}
                                        <p>Starts at</p>
                                    {% endif %}
                                {% endif %}
                                <div>                
                                    <p class="flex-wrap row">
                                        <span class="flex-wrap row">
                                        {% if slide.dollarSign %}  <span class="sign">{{slide.dollarSign}}</span>{% endif %}
                                        {% if slide.spacePrice %}  <span class="price">{{slide.spacePrice}}</span>{% endif %}
                                        </span>
                                    
                                        {% if slide.priceQuantity %}  
                                        <span class="quantity">
                                            <i>{{slide.priceQuantity}}</i>
                                        </span>
                                        {% endif %}
                                    </p> 
                                </div>

                                <div class="description">
                                    {% if slide.spaceDescription %}
                                    {{slide.spaceDescription}}
                                    {% endif %}
                                </div>


                                {% set buttonText = slide.buttonText ?? 'Find out more' %}
                                {% set buttonPageLink = slide.spaceType[0].url ?? '/contact-us' %}
                                {% embed '_partials/button' %}
                                    {% block class %}{{buttonClass}}{% endblock %}
                                    {% block title %}{{buttonText}} {% endblock %}
                                    {% block url %}{{buttonPageLink}} {% endblock %}
                                {% endembed %} 
                            </div>

                            <div class="half pad-sides illustration">
                                <div>
                                    {% include '_partials/svgs/' ~ slide.spaceType[0] ~ '.twig' %}
                                </div>
                            </div>
                        {# </div> #}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
