{% set slider = craft.entries().section('urbanSolutionsSlider').all() %}

<div class="tabs-urban-solutions " id="horizontalTab">
    <ul class="tabs-nav-wrapper">
        {% for slide in slider %} 
         {% if slide.spaceType is not empty %}
            <li class="{{slide.spaceType[0]}}">
                <a href="#tab-{{ slide.slug }}">
                   <div class="mobile-only {{slide.spaceType[0]}}">
                    {% if  slide.spaceType %}
                        {{slide.spaceType[0]}}
                    {% endif %}
                   </div>
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div>
        {% for slide in slider %}
            {% if slide.spaceType is not empty %}
                <div class="{{slide.spaceType[0]}}" id="tab-{{ slide.slug }}">
                   <div class="pad-all flex-wrap tab-content">
                            <div class="half flex-wrap flex-align-center">
                                <div>
                                    {% if slide.dollarSign is defined and slide.dollarSign != '' %}
                                        <p>From</p>
                                    {% endif %}
                                    <div>                
                                        <p class="flex-wrap row">
                                            <span class="flex-wrap row">
                                            {% if slide.dollarSign %}  <span class="sign">{{slide.dollarSign}}</span>{% endif %}
                                            {% if slide.spacePrice %}  <span class="price">{{slide.spacePrice}}</span>{% endif %}
                                            </span>
                                        
                                            {% if slide.priceQuantity %}  
                                            <span class="quantity">
                                                <i>{{slide.priceQuantity}}</i>
                                            </span>
                                            {% endif %}
                                        </p> 
                                    </div>

                                    <div class="description">
                                        {% if slide.spaceDescription %}
                                        {{slide.spaceDescription}}
                                        {% endif %}
                                    </div>


                                    {% set buttonText = slide.buttonText ?? 'Find out more' %}
                                    {% set buttonPageLink = slide.spaceType[0].url ?? '/contact-us' %}
                                    {% embed '_partials/button' %}
                                        {% block class %}{{buttonClass}}{% endblock %}
                                        {% block title %}{{buttonText}} {% endblock %}
                                        {% block url %}{{buttonPageLink}} {% endblock %}
                                    {% endembed %} 
                                </div>
                            </div>

                            <div class="half pad-sides illustration">
                                <div>
                                    {% include '_partials/svgs/' ~ slide.spaceType[0] ~ '.twig' %}
                                </div>
                            </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

