<div class="pad-all for-sm border-top border-color flex-wrap {% block class %}{% endblock %}">            
    <div class="pad-all sm third">
        <div>
        <h3>Take a <i>tour</i></h3>
            <p>Location</p>
            {% if businessInformation.businessAddress %}
                {{ businessInformation.businessAddress }}
            {% endif %}
        </div>
    </div>
    <div class="pad-all sm third">
        <div>
            <h3><i>Talk</i> to us</h3>
            <p>Contact</p>
            {% if businessInformation.businessPhone %}
            <a  href="tel:{{businessInformation.businessPhone}}">
            <span class="phone">{{businessInformation.businessPhone2}}</span></a>    
            {% endif %}
            {% if businessInformation.businessPostal %}
                  <p> {{ businessInformation.businessPostal  }}</p> 
            {% endif %}
        </div>
    </div>
    <div class="pad-all sm third">
        <div>
            <h3><i>Move</i> in</h3>
            <p>Enquire</p>
            {% if businessInformation.businessEmail %}
                <a class="email" href=" mailto:{{businessInformation.businessEmail}}"> 
                {{ businessInformation.businessEmail }}</a>    
            {% endif %}  
        </div>  
    </div>
</div>

