
<div class="social-media flex-wrap pad-all flex-align-end-style border-color {% block css %} {% endblock %}">
    <div class="half">
        <h2>{% block title %}Get <i>Started</i> {% endblock %}</h2>


                {% set buttonText = 'Enquire Now' %}
                {% set buttonPageLink =  '/contact-us' %}
                {% embed '_partials/button' %}
                    {% block class %}{{buttonClassContrast}} no-marg-top {% endblock %}
                    {% block title %}{{buttonText}} {% endblock %}
                    {% block url %}{{buttonPageLink}} {% endblock %}
                {% endembed %} 

    </div>
    <div class="half">
        <ul class="flex-wrap flex-end-style row">
            <li><a href="{{businessInformation.facebook}}" href="_blank" >{% include '_partials/svgs/facebook.twig' %}</a></li>
            <li><a href="{{businessInformation.instagram}}" href="_blank"   >{% include '_partials/svgs/instagram.twig' %}</a></li>
            <li><a href="{{businessInformation.twitter}}" href="_blank" >{% include '_partials/svgs/x.twig' %}</a></li>
        </ul>
    </div>
</div>



    