
<div class="social-media flex-wrap flex-align-end-style border-top border-color">
    <div class="third pad-all">
        <h2>{% block title %}Get <i>Started</i> {% endblock %}</h2>

                {% set buttonText = 'Enquire Now' %}
                {% set buttonPageLink = '/contact-us' %}
                {% embed '_partials/button' %}
                    {% block class %}{{buttonClassContrast}} no-marg-top {% endblock %}
                    {% block title %}{{buttonText}} {% endblock %}
                    {% block url %}{{buttonPageLink}} {% endblock %}
                {% endembed %} 

        <ul class="flex-wrap row ">
            <li><a href="{{businessInformation.facebook}}" href="_blank" >{% include '_partials/svgs/facebook.twig' %}</a></li>
            <li><a href="{{businessInformation.instagram}}" href="_blank"   >{% include '_partials/svgs/instagram.twig' %}</a></li>
            <li><a href="{{businessInformation.facebook}}" href="_blank" >{% include '_partials/svgs/x.twig' %}</a></li>
        </ul>
    </div>
    <div class="half  border-left border-color">
        {% include '_partials/footer/map.twig' %}
    </div>
</div>
