{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "stories limeTheme" } %} 
{% set docTitle = 'Stories' %} 
{% set metaDesc = entry.metaDescription %} 
{% set page = craft.entries().section('storiesPage').all() %} 

{% set storiesPost = craft.entries().section('stories').orderBy('postDate desc').all() %}


{% set buttonClass = "lime" %}
{% set buttonClassContrast = "green" %}

{% set main = "bg-lime" %}
{% set contrast = "bg-green" %}
{% set footer = "bg-lime" %}



{% block content %} 
  {% for entry in page %} 
    {% include '_partials/hero/centered-hero.twig' %}

    {% embed '_partials/sections/star-banner-section.twig' %}
        {% block class %} bg-light {% endblock %}
    {% endembed %}

<div class="bg-lime ">
    <div class="flex-wrap third-wrap img-wrap wrap">
        {% for post in storiesPost %}
            <div class="third flex-wrap col flex-jc-sb story-wrap">
                <a href='{{ post.url }}' class="pod">

                    {% set images = post.image.all() %}
                    {% if images %}
                    {% for image in images %}
                        <div class="">
                            <img src="{{ image.getUrl}}" alt="{{ image.alt }}" class="img-fit">
                        </div>
                    {% endfor %}
                    {% endif %}

                    <h3>{{post.title}}</h3>
                    {% if post.pageIntro %}
                        {{post.pageIntro}}
                    {% endif %}
                    {% if post.pageIntroParagraph %}
                        {{post.pageIntroParagraph}}  
                    {% endif %}
                </a> 

                {% embed '_partials/button' %}
                {% block class %}{{buttonClassContrast}}{% endblock %}
                {% block title %}Find out more{% endblock %}
                {% block url %}{{ post.url }}{% endblock %}
                {% endembed %}         
            </div>
        {% endfor %}
    </div>
</div>
   {% include '_partials/footer/social-media.twig' %}
    {% include '_partials/footer/contact-section.twig' %}
  {% endfor %} 
{% endblock %}

