<div class="flex-wrap border-btm border-color no-border-mobile hero-solutions section-solutions {% block class %}{% endblock %}">     
{% for block in entry.buttonIconGroup %}
    {% if block.type == 'groupFields' %}
    
        <div class="pad-all half border-btm border-color border-right"> 
            <div class="feature-pad">
                {% if entry.heading %}
                    {{entry.heading}}
                {% endif %}
                {% if entry.paragraph %}
                    {{entry.paragraph }}
                {% endif %}
            </div>
            <div class="flex-wrap row pad-top-btm no-btm flex-jc-sb flex-end-style">
                <div>
                    {% set buttonText = block.buttonText ?? 'Enquire now' %}
                    {% set buttonPageLink = block.buttonPageLink[0].url ?? '/contact-us' %}
                    {% embed '_partials/button' %}
                        {% block class %}{{buttonClass}}{% endblock %}
                        {% block title %}{{buttonText}} {% endblock %}
                        {% block url %}{{buttonPageLink}} {% endblock %}
                    {% endembed %} 
                </div>
                <div class="">
                    {% if entry.icon.one() %}
                    {% set image = entry.icon.one() %}
                        <img class="" src="{{ image.url }}" alt="{{ image.alt }}">
                    {% endif %}
                </div>
            </div>
        </div>

    {% endif %}
{% endfor %}
</div>