<div class="flex-wrap border-color  hero-solutions section-solutions {% block class %}{% endblock %}">     
{% for block in entry.buttonIconGroup %}
    {% if block.type == 'groupFields' %}
    
        <div class="pad-all half border-color border-right flex-jc-sb col flex-wrap"> 
            <div class="feature-pad">
                {% if block.heading %}
                    {{block.heading}}
                {% endif %}
                {% if block.paragraph %}
                    {{block.paragraph }}
                {% endif %}
            </div>
            <div class="flex-wrap row pad-top-btm no-btm flex-jc-sb flex-end-style">
                <div>
                {% if block.buttonText %}
                    {% set buttonText = block.buttonText ?? 'Enquire now' %}
                    {% set buttonPageLink = block.buttonPageLink[0].url ?? '/contact-us' %}
                    {% embed '_partials/button' %}
                        {% block class %}{{buttonClassContrast}}{% endblock %}
                        {% block title %}{{buttonText}} {% endblock %}
                        {% block url %}{{buttonPageLink}} {% endblock %}
                    {% endembed %} 
                    {% endif %}
                </div>
                
                <div class="align-right">
                {% if block.icon.one() %}
                    {% set image = block.icon.one() %}
                    <img class="max-75" src="{{ image.url }}" alt="{{ image.alt }}">
                {% endif %}
                </div>
            </div>
        </div>

    {% endif %}
{% endfor %}
</div>