<div class="centered-section {% block class %} {% endblock %}">
    <div class="pad-all">
        <div class="text-center max-title">
            {% if entry.heading4 %}
                {{entry.heading4}}
            {% endif %}
            <div class="intro-text">
            {% if entry.introParagraph4 %}
                {{entry.introParagraph4}}
            {% endif %}
            </div>

            {% if entry.paragraph4 %}
                {{entry.paragraph4}}
            {% endif %}
        </div>

            {% for block in entry.button2 %}
            {% if block.type == 'groupFields' %}
            {% set buttonText = block.buttonText ?? 'Enquire now' %}
            {% set buttonPageLink = block.buttonPageLink[0].url ?? '/contact-us' %}
            {% embed '_partials/button' %}
                {% block class %}{{buttonClass}} centered {% endblock %}
                {% block title %}{{buttonText}} {% endblock %}
                {% block url %}{{buttonPageLink}} {% endblock %}
            {% endembed %} 
                {% endif %}
                {% endfor %}
    </div>
</div>