<div class="center-banner {% block class %} {% endblock %}">
    <div class="pad-sides pad-top-btm">
        <div class="text-center max-title">
            {% if entry.heading5 %}
                {{entry.heading5}}
            {% endif %}

            {% if entry.introParagraph3 %}
                <div class="intro-text">
                    {{entry.introParagraph3}}
                </div>
            {% endif %}

            {% if entry.paragraph3 %}
                <div class="">
                    {{entry.paragraph3}}
                </div>
            {% endif %}
            <div>
            {% if entry.buttonExternalLink is defined and entry.buttonExternalLink %}
                {% for block in entry.buttonExternalLink %}
                    {% if block.type == 'groupFields' %}
                        {% set buttonText = block.buttonText ?? 'Enquire now' %}
                        {% set buttonLink = block.buttonLink  %}
                        {% embed '_partials/button' %}
                            {% block class %}{{buttonClass}} centered{% endblock %}
                            {% block title %}{{buttonText}} {% endblock %}
                            {% block url %}{{buttonLink}} {% endblock %}
                        {% endembed %} 
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>