
{% set slider = craft.entries().section('urbanEnvironmentsSlider').all() %}
{% for slide in slider %}
    {% set sliderImage = slide.sliderImage.one() %}
    <div>
        {{slide.spaceType[0]}}
        {{slide.spaceType[0].url}}
        {{slide.spacePrice}}
        {{slide.priceQuantity}}
        {{slide.spaceDescription}}
        {% if sliderImage %}
            <img class="max-75" src="{{ sliderImage.url }}" alt="{{ sliderImage.title }}">
        {% endif %}

        {% for block in slide.spaceSellingPoints %}
            {% if block.type == 'groupFields' %}
                {% if block.sellingPoints %}
                    <li>{{block.sellingPoints}}</li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}