 {% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}

{% set message = message ?? null %}
 
  <form method="post" action="" accept-charset="UTF-8" class="contact-form">
    {{ csrfInput() }}
    {{ actionInput('contact-form/send') }}
    {{ redirectInput('/thank-you?from={fromEmail}') }}


    <div class="form-layout flex-wrap">
        <div>
            <label for="firstName">First Name *</label>
            <input id="firstName" type="text" name="message[First Name]" value="" required autocomplete="given-name" placeholder="Enter first name">
            {{ message ? _self.errorList(message.getErrors('message[firstName]')) }}
        </div>
        <div>
            <label for="lastName">Last Name *</label>
            <input id="lastName" type="text" name="message[Last Name]" value="" required autocomplete="family-name" placeholder="Enter last name">
            {{ message ? _self.errorList(message.getErrors('message[lasttName]')) }}
        </div>
    </div>

    <div class="form-layout flex-wrap">
        <div>
            <label for="phone">Mobile Number *</label>
            <input id="phone" type="tel" name="message[Phone]" pattern="[0-9 ]+" value="" required autocomplete="tel-local" placeholder="Enter mobile number" oninvalid="setCustomErrorMessage(this)" oninput="clearCustomErrorMessage(this)">
            {{ message ? _self.errorList(message.getErrors('message[Phone]')) }}
        </div>

        <div>
            <label for="from-email">Email Address *</label>
            {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                id: 'from-email',
                autocomplete: 'email',
                required: true,
                placeholder: 'Enter email address',
            }) }}
            {{ message ? _self.errorList(message.getErrors('fromEmail')) }}
        </div>
    </div>



    <div class="form-layout dropdown">
            <label for="workspace">What type of workspace are you looking for?</label>
            <select id="workspace" name="message[Workspace]">
                <option value="" class="placeholder" selected disabled>Select an option</option>
                <option value="Traditional_Lease">Traditional Lease</option>
                <option value="Serviced_Office">Serviced Office</option>
                <option value="Meetings_Conferences">Meetings & Conferences</option>
                <option value="Coworking_HotDesk">Coworking & Hot Desk</option>
                <option value="Membership_VirtualSpace">Membership or Virtual Services</option>
                <option value="Other">Other</option>
            </select>
    </div>

    <div class="form-layout message">
        <label  for="message">Message *</label>
        <textarea rows="5" cols="40" id="message" name="message[body]" required placeholder="Type your message">{{ message.message.body ?? '' }}</textarea>
    </div>

    <style>
    .form-layout.honey-pot{
        position:absolute;
        top:-200vh;
        left:0;
    }
    </style>
    <div class="form-layout honey-pot">
        <label for="honeypooh" class="sr-only">Search</label>
        <input id="honeypooh" name="honeypooh" type="text">
    </div>

    <button type="submit" class="btn">
        <span>
          <p>Submit</p>
          <div>{% include '_partials/svgs/arrow.twig' %}</div> 
        </span>
    </button>
</form>



<script>

    {# Add dropdown options to data layer for google tracking #}
    (function(){
        var dropdowns = document.querySelectorAll('select');
        
        for(var i=0; i <= dropdowns.length - 1; i++) {
        dropdowns[i].addEventListener('change', function(e) {
            dataLayer.push({
            'event': 'dropdownChanged',
            'fieldValue': e.target.options[e.target.selectedIndex].text,
            'fieldName': e.target.name
            });
        });
        }   
    })();


{# Change error message for numbers, must include numbers #}
    function setCustomErrorMessage(input) {
        if (input.validity.patternMismatch) {
            input.setCustomValidity('Please enter only numbers.');
        } else {
            input.setCustomValidity('');
        }
    }

    function clearCustomErrorMessage(input) {
        input.setCustomValidity('');
    }
  
</script>