
{# <div class="slider-intro flex-wrap pad-all heading-btn-wrapper border-btm border-color">
    <div class="half pad-sides no-left">
    {% if businessInformation.heading5 %}
        {{businessInformation.heading5}}
    {% endif %}
    </div>
    <div class="half flex-wrap ">
      <div class="slider-btn-wrapper">
            <div class="swiper-button-next">
                {% include '_partials/svgs/arrow.twig' %}
            </div>
            <div class="swiper-button-prev">
                {% include '_partials/svgs/arrow.twig' %}
            </div>
      </div>
    </div>
</div> #}
<div class="swiper slider-urban-solutions">
    <div class="swiper-wrapper">
        {% set slider = craft.entries().section('urbanSolutionsSlider').all() %}
        {% for slide in slider %}
            {% if entry.title != slide.spaceType[0] %}
                <div class="swiper-slide border-right border-color no-border-mobile">
                   <div class="pad-all">
                        <div class="flex-wrap">
                            <div class="half">
                                {% if slide.spaceType %}
                                    <h3>{{slide.spaceType[0]}}</h3>
                                {% endif %}
                                <div class="price-title">                
                                    <p>
                                        {% if slide.dollarSign %}  <span class="sign">{{slide.dollarSign}}</span>{% endif %}
                                        {% if slide.spacePrice %}  <span class="price">{{slide.spacePrice}}</span>{% endif %}
                                        {% if slide.priceQuantity %}  <span class="no-wrap"><i>/{{slide.priceQuantity}}</i></span>{% endif %}
                                    </p> 
                                </div>
                                {% if slide.spaceDescription%}
                                    {{slide.spaceDescription}}
                                {% endif %}

                                {% set buttonText = slide.buttonText ?? 'Find out more' %}
                                {% set buttonPageLink = slide.spaceType[0].url ?? '/contact-us' %}
                                {% embed '_partials/button' %}
                                    {% block class %}{{buttonClass}}{% endblock %}
                                    {% block title %}{{buttonText}} {% endblock %}
                                    {% block url %}{{buttonPageLink}} {% endblock %}
                                {% endembed %} 
                            </div>
                            <div class="half center-style pad-sides no-right">
                                {% set sliderImage = slide.sliderImage.one() %}
                                {% if sliderImage %}
                                    <img class="" src="{{ sliderImage.url }}" alt="{{ sliderImage.title }}">
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <ul class="underline-list">
                                {% for block in slide.spaceSellingPoints %}
                                    {% if block.type == 'groupFields' %}
                                        {% if block.sellingPoints %}
                                            <li>{{block.sellingPoints}}</li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


