<div class="flex-wrap solutions-mask">
    {% set image2 = entry.image2.one() %}
    {% if image2 %}
        <div class="half mask-wrapper" style="background-image:url({{ image2.getUrl() }})">
            {% include '_partials/masks/right-mask.twig' %}
            {% include '_partials/masks/bottom-mask.twig' %}
        </div>
    {% else %}
        {% set imageFallback = businessInformation.image.one() %}
        {% if imageFallback %}
            <div class="half mask-wrapper" style="background-image:url({{ imageFallback.getUrl() }})">
                {% include '_partials/masks/right-mask.twig' %}
                {% include '_partials/masks/bottom-mask.twig' %}
            </div>
        {% else %}
            <div class="half mask-wrapper" style="background-image:url('/uploads/images/picture4-small.webp')">
                {% include '_partials/masks/right-mask.twig' %}
                {% include '_partials/masks/bottom-mask.twig' %}
            </div>
        {% endif %}
    {% endif %}


    <div class="pad-all half"> 
        {% if entry.heading %}
            {{entry.heading}}
        {% endif %}
        {% if entry.introParagraph %}
            <div class="intro-text">
                {{entry.introParagraph}}
            </div>
        {% endif %}

        {% if entry.paragraph %}
            <div class="">
                {{entry.paragraph}}
            </div>
        {% endif %}

        <div class="flex-wrap inner just-cont-space-btw">
            <ul class="underline-list">
                {% for block in entry.lists %}
                    {% if block.type == 'groupFields' %}
                        {% if block.listPoint %}
                            <li>{{block.listPoint}}</li>
                        {% endif %}
                    {% endif %}                           
                {% endfor %}
            </ul>
            <div class="flex-wrap ">
            {% include '_partials/svgs/little-star.twig' %}
            </div>
        </div>
    </div>
</div>