<div class="flex-wrap">
    {% set image2 = entry.image2.one() ?? 'uploads/images/picture4-small-crop.webp' %}

    <div class="half bg-yellow mask-wrapper" 
    style="background-image:url({{ image2.getUrl() }})">
        {% include '_partials/masks/right-mask.twig' %}
        {% include '_partials/masks/bottom-mask.twig' %}
    </div>

    <div class="pad-all half"> 
        {% if entry.heading %}
            {{entry.heading}}
        {% endif %}
        {% if entry.introParagraph %}
            <div class="intro-text">
                {{entry.introParagraph}}
            </div>
        {% endif %}

        {% if entry.paragraph %}
            <div class="">
                {{entry.paragraph}}
            </div>
        {% endif %}

        <div class="flex-wrap inner just-cont-space-btw">
            <ul class="underline-list">
                {% for block in entry.lists %}
                    {% if block.type == 'groupFields' %}
                        {% if block.listPoint %}
                            <li>{{block.listPoint}}</li>
                        {% endif %}
                    {% endif %}                           
                {% endfor %}
            </ul>
            <div class="flex-wrap ">
            {% include '_partials/svgs/little-star.twig' %}
            </div>
        </div>
    </div>
</div>