<div class="flex-wrap solutions-mask">

    {% set image2 = entry.image2.one() %}
    {% if image2 %}
        <div class="half mask-wrapper" style="background-image:url({{ image2.getUrl() }})">
            {% include '_partials/masks/right-mask.twig' %}
            {% include '_partials/masks/bottom-mask.twig' %}
        </div>
    {% else %}
            <div class="half mask-wrapper">
                {% include '_partials/masks/right-mask.twig' %}
                {% include '_partials/masks/bottom-mask.twig' %}
            </div>
    {% endif %}

    <div class="pad-all half flex-wrap col center-style no-btm"> 
        {% if entry.heading %}
            {{entry.heading}}
        {% endif %}
        {% if entry.introParagraph %}
            <div class="intro-text">
                {{entry.introParagraph}}
            </div>
        {% endif %}

        {% if entry.paragraph %}
            <div class="tail">
                {{entry.paragraph}}
            </div>
        {% endif %}


        <div class="flex-wrap row flex-jc-sb">
            <div>
                {% for block in entry.buttonExternalLink %}
                    {% if block.type == 'groupFields' %}
                        {% set buttonText = block.buttonText ?? 'Enquire now' %}
                        {% set buttonLink = block.buttonLink ?? '/contact-us' %}
                        {% embed '_partials/button' %}
                            {% block class %}{{buttonClass}}{% endblock %}
                            {% block title %}{{buttonText}} {% endblock %}
                            {% block url %}{{buttonLink}} {% endblock %}
                        {% endembed %} 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="flex-wrap ">
            {% include '_partials/svgs/little-star.twig' %}
            </div>
        </div>

    </div>
</div>