<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    {% block head %}
      <meta charset="utf-8"/>
      <title>{{ docTitle ?? siteName }}</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta name="description" content="{{ metaDesc|default('UrbanHub') }}">
      <link rel="icon" href="/uploads/images/favicon.png" type="image/x-icon" />
      <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
      {% do craft.app.view.registerCssFile('@web/assets/styles/styles.css') %}
    {% endblock %}
</head>
<body {{ attr(bodyAttributes ?? {}) }} >
    <div id='loadingDiv'>
       <svg class="star-loader" xmlns="http://www.w3.org/2000/svg" width="36" height="38" viewBox="0 0 36 38" fill="none">
            <path d="M28.9145 3.69646L17.5315 0L15.6343 12.7959L6.93509 3.92784L0 13.4727L11.1285 19.0087L0.0115618 24.5447L6.94666 34.0895L15.6459 25.2157L17.5488 38L28.9261 34.3035L22.9512 22.844L36 25.0422V12.9694L22.9338 15.1676L28.9145 3.69646Z" />
        </svg>
    </div>

    <div id="prep" class="body-wrapper">
        {% include '_partials/nav.twig' %}
        <main >
            {% block content %}{% endblock %}
            <div class="contact"></div>
        </main>
        {# {% if craft.app.request.segment(1) != 'about-you' %}
            {% embed '_partials/footer/footer-banner.twig' %}
                {% block class %} {{footer}}{% endblock %}
            {% endembed %}
        {% endif %} #}
    </div>    

  {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="module" src="/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script type="module" src="/assets/js/script.js"></script>
    <script type="module" src="/assets/js/nav.js"></script>
    {# <script type="module" src="/assets/js/footer.js"></script> #}
  {% endblock %}

</body>
</html>