{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "about-you greenTheme svgStyle" } %} 
{% set docTitle = entry.title %} 
{% set metaDesc = entry.metaDescription %} 
{% set page = craft.entries().section('aboutYou').all() %} 

{% set buttonClass = "green" %}
{% set buttonClassContrast = "green" %}

{# //background color #}
{% set main = "bg-green-light" %}
{# //alternate star color #}
{% set contrast = "bg-green-dark" %}
{% set footer = "bg-green-dark" %}



{% block content %} 
  {% for entry in page %} 

  <div class="centered-hero start bg-green-light">
    <div class="pad-all">
        <div class="text-center max-hero">
            {% if entry.pageTitle %}
                {{entry.pageTitle}}
            {% endif %}
            {% if entry.pageIntro %}
                <div class="intro-text">
                    {{entry.pageIntro}}
                </div>
            {% endif %}

            {% if entry.pageIntroParagraph %}
                {{entry.pageIntroParagraph }}
            {% endif %}
        </div>

        {% embed '_partials/button' %}
            {% block class %}{{ buttonClass }} centered {% endblock %}
            {% block title %}Get Started{% endblock %}
            {% block url %}#getstarted{% endblock %}
        {% endembed %}
    </div>
</div>




{% macro btnItem(dataFilter, url) %}
  <div class="btn green">
    <button data-filter="{{ dataFilter }}" class="button">
    <a href="{{ url }}">
        <p>Continue</p>
        <div>{% include '_partials/svgs/arrow.twig' %}</div> 
    </a>
    </button>
  </div>
{% endmacro %}

<div class="filters">
    <div class="centered-hero bg-green-light" id="getstarted">
        <div class="pad-all">
            <div class="text-center max-hero">
                <h2>Do you need space <i>sometimes</i> or <i>all the time</i>?</h2>
            </div>

            <div class="flex-wrap section-solutions">     
                    <div class="pad-all third box bg-light"> 
                        <div class="feature-pad">
                            <h3>Sometimes</h3>
                        </div>
                        <div class="flex-wrap style row flex-jc-sb">
                            <div class="flex-wrap col flex-jc-fe">
                            {{ _self.btnItem('.sometimes', '#space') }}
                            </div>
                            
                            <div class="align-right">
                                <img  src="/uploads/images/illustration26-watch.svg" alt="">
                            </div>
                        </div>
                    </div>

                            <div class="pad-all third box bg-light"> 
                        <div class="feature-pad">
                            <h3>Full Time</h3>
                        </div>
                        <div class="flex-wrap  style row flex-jc-sb">
                            <div class="flex-wrap col flex-jc-fe">
                                {{ _self.btnItem('.fullTime', '#space') }}
                            </div>
                            
                            <div class="align-right">
                                <img  src="/uploads/images/illustration26-watch.svg" alt="">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="centered-hero bg-green-light" id="space">
        <div class="pad-all">
            <div class="text-center max-hero">
                <h2>What <i>sized</i> team are you ?</h2>
            </div>

            <div class="flex-wrap section-solutions">     
                    <div class="pad-all third box bg-light"> 
                        <div class="feature-pad">
                            <h3>I'm a big team</h3>
                        </div>
                        <div class="flex-wrap style row flex-jc-sb">
                            <div class="flex-wrap col flex-jc-fe">
                                {{ _self.btnItem('.bigTeam', '#team') }}
                            </div>
                            <div class="align-right">
                                <img  src="/uploads/images/illustration4-keys.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="pad-all third box bg-light"> 
                        <div class="feature-pad">
                            <h3>I'm a small team</h3>
                        </div>
                        <div class="flex-wrap  style row flex-jc-sb">
                            <div class="flex-wrap col flex-jc-fe">
                                {{ _self.btnItem('.smallTeam', '#team') }}
                            </div>
                            
                            <div class="align-right">
                                <img  src="/uploads/images/illustration4-keys.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="pad-all third box bg-light"> 
                        <div class="feature-pad">
                            <h3>It's just me</h3>
                        </div>
                        <div class="flex-wrap  style row flex-jc-sb">
                            <div class="flex-wrap col flex-jc-fe">
                                {{ _self.btnItem('.single', '#team') }}
                            </div>
                            
                            <div class="align-right">
                                <img  src="/uploads/images/illustration4-keys.svg" alt="">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="centered-hero bg-green-light" id="team">
        <div class="pad-all">
            <div class="text-center max-hero">
                <h2>Do you value <i>privacy</i> or <i>collaboration</i>?</h2>
            </div>

            <div class="flex-wrap section-solutions">     
                    <div class="pad-all third box bg-light"> 
                        <div class="feature-pad">
                            <h3>Privacy</h3>
                        </div>
                        <div class="flex-wrap style row flex-jc-sb">
                            <div class="flex-wrap col flex-jc-fe">
                                {{ _self.btnItem('.privacy', '#results') }}
                            </div>
                            <div class="align-right">
                                <img  src="/uploads/images/illustration20-hands.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="pad-all third box bg-light"> 
                        <div class="feature-pad">
                            <h3>Collaboration</h3>
                        </div>
                        <div class="flex-wrap  style row flex-jc-sb">
                            <div class="flex-wrap col flex-jc-fe">
                                {{ _self.btnItem('.collaboration', '#results') }}
                            </div>
                            
                            <div class="align-right">
                                <img  src="/uploads/images/illustration20-hands.svg" alt="">
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>

{% macro btnResult(url) %}
  <div class="btn green centered">
    <a href="{{ url }}">
      <p>Continue</p>
      <div>{% include '_partials/svgs/arrow.twig' %}</div> 
    </a>
  </div>
{% endmacro %}

<div class="centered-hero bg-green-light" id="results">
    <div class="pad-all">
    
        <div class="text-center max-hero">
            <h2>Best option for <i>you</i></h2>

            <div class="pad-all flex-wrap center-style wrap grid urban-result">
                <div class="third sometimes single privacy">
                    <h3>Urban<i>Studio</i></h3>
                    <img  src="/uploads/images/illustration20-hands.svg" alt="">
                   {{ _self.btnResult('urban-studio') }}
                </div>
                
                <div class="third fullTime collaboration">
                    <h3>Urban<i>Suite</i></h3>
                    <img  src="/uploads/images/illustration20-hands.svg" alt="">
                   {{ _self.btnResult('urban-suite') }}
                </div>
                 <div class="third sometimes single smallTeam">
                    <h3>Urban<i>Desk</i></h3>
                    <img  src="/uploads/images/illustration20-hands.svg" alt="">
                    {{ _self.btnResult('urban-desk') }}
                </div>

                <div class="third bigTeam collaboration">
                    <h3>Urban<i>Club</i></h3>
                    <img  src="/uploads/images/illustration20-hands.svg" alt="">
                   {{ _self.btnResult('urban-club') }}
                </div>
                <div class="third bigTeam">
                    <h3>Urban<i>Meet</i></h3>
                    <img  src="/uploads/images/illustration20-hands.svg" alt="">
                    {{ _self.btnResult('urban-meet') }}
                </div>
                 <div class="third fullTime bigTeam">
                    <h3>Urban<i>Lease</i></h3>
                    <img  src="/uploads/images/illustration20-hands.svg" alt="">
                    {{ _self.btnResult('urban-lease') }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="star-banner-wrapper pad-top-btm no-btm bg-green-light">
    {% embed '_partials/svgs/star-banner.twig' %}
        {% block contrastStar %} {{contrast}} {% endblock %}
        {% block contrastStar2 %} {{contrast}} {% endblock %}
        {% block contrastStar3 %} {{contrast}} {% endblock %}
    {% endembed %}
</div>

  {% endfor %} 
{% endblock %}


{% block scripts %}
{{ parent() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://npmcdn.com/isotope-layout@3.0.6/dist/isotope.pkgd.js"></script>
<script  type="module" src="/assets/js/isotope.js"></script>
{% endblock %}