{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "contact-us greenTheme svgStyle" } %} 
{% set docTitle = entry.title %} 
{% set metaDesc = entry.metaDescription %} 
{% set page = craft.entries().section('contactUs').all() %} 

{% set buttonClass = "green" %}
{% set buttonClassContrast = "green" %}

{# //background color #}
{% set main = "bg-green-light" %}
{# //alternate star color #}
{% set contrast = "bg-green-dark" %}
{% set footer = "bg-green-dark" %}



{% block content %} 
  {% for entry in page %} 

  <div class="flex-wrap bg-green-light pad-sides hero">
    <div class="pad-all no-left half flex-wrap col">
        {% if entry.pageTitle %}
            {{entry.pageTitle}}
        {% endif %}
        <div>
            {% if entry.pageIntro %}
                <div class="intro-text">
                    {{entry.pageIntro}}
                </div>
            {% endif %}
            {% if entry.pageIntroParagraph %}
                {{entry.pageIntroParagraph }}
            {% endif %}
        </div>
    </div>
    <div class="half bg-light form-wrapper">
        {% if entry.heading6 %}
            {{entry.heading6}}
        {% endif %}
        {% if entry.paragraph2 %}
            {{entry.paragraph2}}
        {% endif %}
        {% include '_partials/forms/form.twig' %}
    </div>
  </div>


    {% embed '_partials/sections/star-banner-section.twig' %}
        {% block class %}{{main}}{% endblock %}
    {% endembed %}


    {% include '_partials/sections/solutions-mask-contact.twig' %}

    
{% embed '_partials/sections/just-title.twig' %}
    {% block allClass %}contact-title pad-all bg-light flex-wrap border-color border-top{% endblock %}
{% endembed %}

    {% embed '_partials/footer/contact-section.twig' %}
 {% block class %} bg-light {% endblock %}

{% endembed %}
     {% embed '_partials/footer/map.twig' %}
        {% block class %} pad-all no-top bg-light {% endblock %}
     {% endembed %}
  {% endfor %} 
{% endblock %}