{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "home greenTheme svgStyle" } %} 
{% set docTitle = entry.title %} 
{% set metaDesc = entry.metaDescription %} 
{% set page = craft.entries().section('home').all() %} 


{% set buttonClass = "green" %}
{% set buttonClassContrast = "green" %}
{% set main = "bg-green-dark" %}
{% set contrast = "bg-green-light" %}
{% set footer = "bg-green-dark" %}

{% block head %} 
  {{ parent() }}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
{% endblock %}

{% block content %} 
  {% for entry in page %} 
        <div class="centered-hero {% block class %} {% endblock %}">
            <div class="pad-all">
                <div class="text-center max-hero">

                    <div class="h1-wrap">
                        <img src="/uploads/images/illustration2-FlyingPaper.svg " alt="" class="hero-special one">
                        {% if entry.headingH1 %}
                            {{entry.headingH1}}
                        {% endif %}
                        <img src="/uploads/images/illustration1-Bookshelf.svg " alt="" class="hero-special two">
                    </div>

                    <div class="intro-text">
                        {% if entry.introParagraph2 %}
                            {{entry.introParagraph2}}
                        {% endif %}
                    </div>

                    {% if entry.paragraph2 %}
                        {{entry.paragraph2}}
                    {% endif %}


                    {% if entry.firstButton is defined and entry.firstButton %}
                            {% for block in entry.firstButton %}
                                {% if block.type == 'groupFields' %}
                                    {% set buttonText = block.buttonText ?? 'Enquire now' %}
                                    {% set buttonPageLink = block.buttonPageLink[0].url ?? '/contact-us' %}
                                    {% embed '_partials/button' %}
                                        {% block class %}{{ buttonClass }} centered {% endblock %}
                                        {% block title %}{{ buttonText }}{% endblock %}
                                        {% block url %}{{ buttonPageLink }}{% endblock %}
                                    {% endembed %}
                                {% endif %}
                            {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    {% embed '_partials/sections/just-title.twig' %}
        {% block allClass %}align-left pad-all border-top border-color-other just-title-home{% endblock %}
    {% endembed %}

    {% include '_partials/tabs/tabs-urban-solutions.twig' %}
    {% include '_partials/sections/solutions-mask.twig' %}
    {% include '_partials/sections/solutions-usps.twig' %}

    {% embed '_partials/sections/center-banner.twig' %}
        {% block class %}{{contrast}} {% endblock %}
    {% endembed %}

    {% embed '_partials/sections/btn-icon-section.twig' %}
        {% block class %}{{contrast}} border-top  {% endblock %}
    {% endembed %}

    {% embed '_partials/sections/star-banner-section.twig' %}
        {% block class %} {{contrast}} no-top {% endblock %}
    {% endembed %}

    {% include '_partials/sections/testimonials.twig' %}


    {% include '_partials/footer/footer-page-banner.twig' %}
  {% endfor %} 
{% endblock %}

{% block scripts %}
{{ parent() }}
    <script src="/assets/js/jquery-2.1.0.min.js"></script>
    <script src="/assets/js/jquery.responsiveTabs.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.tabs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script  type="module" src="/assets/js/sliders.js"></script>
{% endblock %}

