   
{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "urbanStudio orangeTheme" } %} 
{% set docTitle = entry.title %} 
{% set metaDesc = entry.metaDescription %} 
{% set page = craft.entries().section('urbanStudio').all() %} 


{% set buttonClass = "orange" %}
{% set buttonClassContrast = "yellow" %}

{% set main = "bg-orange" %}
{% set contrast = "bg-yellow-light" %}
{% set footer = "bg-yellow-light" %}


{% block head %} 
  {{ parent() }}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
{% endblock %}

{% block content %} 
  {% for entry in page %} 

<div class="solutions-wrap">
    {% include '_partials/hero/solutions.twig' %}
    {% include '_partials/sections/solutions-usps.twig' %}
    {% include '_partials/sections/solutions-mask.twig' %}

    {% include '_partials/sections/solutions-banner.twig' %}

    {% embed '_partials/sections/solutions-contrast.twig' %}
        {% block class %} {{main}} dark {% endblock %}
        {% block colCount %} third {% endblock %}
    {% endembed %}
    {% embed '_partials/sections/solutions-contrast-btm.twig' %}
        {% block class %}  {{main}} addons{% endblock %}
        {% block colCount %} half {% endblock %}
    {% endembed %}

    {% embed '_partials/sections/star-banner-section.twig' %}
        {% block class %} {{main}} {% endblock %}
    {% endembed %}

    {% include '_partials/sections/slider-intro.twig' %}
    {% include '_partials/sections/solutions-slider.twig' %}
         {% include '_partials/footer/footer-page-banner.twig' %}

</div>



  {% endfor %} 
{% endblock %}

{% block scripts %}
{{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script  type="module" src="/assets/js/sliders.js"></script>
{% endblock %}